body{
    font-family: 'Anton', sans-serif;
    color:white;
    font-size: 60px;
    text-align: center;
    align:center;
}

.padre{
    background-color: orangered;
    display:flex;
    flex-flow:row wrap; 
    width:90%;
    height:50%;
    align-items: center;
}

.hijo{
    background-color: rgb(25, 132, 194);
    width:13%;
    padding: 8% 5% 8% 5%;
    border:12px solid orangered;

}